<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app>
  <display-name>Administartive-Portal-For Leaner-academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminControllerServlet</display-name>
    <servlet-name>AdminControllerServlet</servlet-name>
    <servlet-class>admin.AdminControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControllerServlet</servlet-name>
    <url-pattern>/AdminControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>admin.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>