<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="4.0">
  <display-name>Flight Booking</display-name>
  <welcome-file-list>
    <welcome-file>UserRegistration.jsp</welcome-file>
    <welcome-file>AdminHome.jsp</welcome-file>
    <welcome-file>AdminPage.jsp</welcome-file>
    <welcome-file>FlightList.jsp</welcome-file>
    <welcome-file>BookFlight.jsp</welcome-file>
    <welcome-file>ForgotPassword.jsp</welcome-file>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>UserPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FilghtInsert</display-name>
    <servlet-name>FilghtInsert</servlet-name>
    <servlet-class>com.flightbooking.servlets.FilghtInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilghtInsert</servlet-name>
    <url-pattern>/FilghtInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.flightbooking.servlets.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfFlights</display-name>
    <servlet-name>ListOfFlights</servlet-name>
    <servlet-class>com.flightbooking.servlets.ListOfFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfFlights</servlet-name>
    <url-pattern>/ListOfFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOfAdmin</display-name>
    <servlet-name>LoginOfAdmin</servlet-name>
    <servlet-class>com.flightbooking.servlets.LoginOfAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOfAdmin</servlet-name>
    <url-pattern>/LoginOfAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOfUser</display-name>
    <servlet-name>LoginOfUser</servlet-name>
    <servlet-class>com.flightbooking.servlets.LoginOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOfUser</servlet-name>
    <url-pattern>/LoginOfUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.flightbooking.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationOfUser</display-name>
    <servlet-name>RegistrationOfUser</servlet-name>
    <servlet-class>com.flightbooking.servlets.RegistrationOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationOfUser</servlet-name>
    <url-pattern>/RegistrationOfUser</url-pattern>
  </servlet-mapping>
</web-app>